body {
  background: url('/homeAssets/world.svg') no-repeat center center fixed;
  background-size: cover;
  position: relative;
  min-height: 100vh;
  font-family: 'Segoe UI', sans-serif;
  transition: background-color 0.5s, color 0.5s;
}
  
  .chart-scroll-wrapper {
    overflow-x: auto;
    max-width: 100%;
  }
  
  svg {
    display: block;
    max-width: 100%;
    height: auto;
  }
  
  .d3-tooltip {
    position: absolute;
    visibility: hidden;
    z-index: 9999;
    pointer-events: none;
    font-size: 13px;
  }
  
  .highlighted {
    stroke: #000;
    stroke-width: 3px;
  }
  
  
  /* Prevent SVG from shrinking */
  .chart-scroll-wrapper svg {
    min-width: 900px;
    max-width: 1400px;
    height: auto;
    display: block;
  }
  
  @media (max-width: 768px) {
    .chart-scroll-wrapper {
      overflow-x: auto;
    }
  }
  